
/*//////////////////////////////     BANERS    */
#banner-top {
    background-color: #404659;
    height: 30px;
}

#banner-mid {
    background-color: #FF9947;
    height: 91px;
    padding-top: 18px;
}

#banner-bottom {
    background-color: #404659;
    height: 40px;
}

#banner-top-text {
    font-size: 13px;
    color: #EBEBED;
}

#banner-top-title {
    color: white;
}

/*//////////////////////////////     LOGIN    */

#login {
    background-color: #496487;
    color: white;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #496487;
    border-radius: 5px;
    font-weight: bold;
}

#login:hover {
    background-color: #364D6A;

}

/*//////////////////////////////     BUSQUEDA    */

#busqueda {
    width: 280px;
}

/*//////////////////////////////   CAROUSEL     */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*//////////////////////////////   PRODUCTOS     */

/*--- Tarjetas ---*/
.card-group{
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    /*margin-left: 20em;*/
    background-color: lightgray;
}

.card img{
    width: 311px;
    height: 180px;
}
.card-title{
    font-size: 17px;

}
.card-text{
    text-align: right;
    font-size: 40px;
}

.text-muted{
    font-size: 15px;
}




/*--- Iconos ---*/
.glyphicon-heart-empty{
    margin-left: 20px;    /*---- CAMBIAR    */
    font-size: 25px;
}
.glyphicon-heart{
    margin-left: 20px;    /*---- CAMBIAR    */
    font-size: 25px;
}

.glyphicon-shopping-cart{
    margin-left: 10px;    /*---- CAMBIAR    */
    font-size: 25px;
}



/*--- Favoritos ---*/
.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    /**left: 50%;**/
    top: 93%;
    transform: translate(20%, -50%);
    background: url(http://imagizer.imageshack.com/img923/4545/XdJDuY.png) no-repeat;  
    cursor: pointer;

}
.heart-blast {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}

